<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="./js/tracking-min.js">
    <script src="./js/jquery-3.3.1.min.js"></script>
    <script src="./js/simplify.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tensorflow/1.0.3/tf.min.js"></script>
    <link rel="stylesheet" href="./stylesheets/main.css" type="text/css">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
